# See http://help.github.com/ignore-files/ for more about ignoring files.


# Compiled output
front/dist
front/tmp
front/out-tsc
front/bazel-out
front/.angular
# Node
front/node_modules
front/npm-debug.log
front/yarn-error.log


