<h2>test2</h2>
<h2>test@gmail.com</h2>
<h2>Test1234#</h2>
<h1>Register</h1>
<form [formGroup]="registerForm" class="add-form" autocomplete="off" novalidate (ngSubmit)="registerUser(registerForm.value)">
    <div class="form-control">
        <label for="username">Username:</label>
        <input type="text"id="username" formControlName="username"/>
        <div *ngIf="submitted && validateControl('username')" class="invalid-feedback">
            <div *ngIf="validateControl('username')">Username is required</div>
        </div>
    </div>
    <div class="form-control">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email"/>
    </div>
    <div class="form-control">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password"/>
    </div>
    <div class="form-control">
        <label for="confirm">Confirm Password:</label>
        <input type="password" id="confirm" formControlName="confirm"/>
    </div>
    <div class="form-control">
        <em *ngIf="validateControl('confirm') && hasError('confirm', 'required')">Confirmation is required</em>
        <br>
        <em *ngIf="hasError('confirm', 'mustMatch')">Passwords must match</em>
    </div>
    <button type="submit" class="btn btn-block">Register</button>

</form>
